<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>New Chat</title>
</head>
<body class="bg-chatblack-50">
    <div class="flex h-[100vh] text-white">
        <div class="left bg-black w-2/12">

        </div>
        <div class="right w-10/12 flex justify-center items-center flex-col">
            <div class="text-center w-full text-4xl font-bold">
                ChatGPT
            </div>

            <div class="itemsrow flex py-4 w-[53vw] justify-around">
                <div class="examples flex flex-col justify-center items-center">
                    <div>Examples</div>
                </div>
                <div class="capabilities flex flex-col justify-center items-center">
                    <div>Capabilities</div>
                </div>
                <div class="limitations flex flex-col justify-center items-center">
                    <div>Limitations</div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>